################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Pokefarm-Pokemon-IVs/FileContentIndex/0e71dbcb-c06b-483d-bb2c-9c7e971427b3.vsidx
/.vs/Pokefarm-Pokemon-IVs/FileContentIndex/67348146-4ce4-44e9-a086-e2050dd0e63d.vsidx
